Python-telegram-bot[job-queue]>=21.10
psutil>=6.1.1
motor>=3.6.0
pymongo>=4.9.0
requests>=2.32.3
cloudinary>=1.41.0
dnspython>=2.7.0
httpx>=0.28.1
pytz>=2024.2
fastapi>=0.115.0
uvicorn[standard]>=0.34.0
edge-tts>=7.0.0
nltk>=3.9.1
python-multipart>=0.0.12
uvloop>=0.21.0